@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;
    display: flex;
    align-content: center;    /*container 뿐*/

    background-color: #d0f1ff;
    flex-direction: column;

    font-family: 'GmarketSansMedium';
}

.card-section{
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card{
    width: 18rem;
}