* {
          margin: 0;
          padding: 0;
      }
      
      *,
      *::before,
      *::after{
          box-sizing: inherit;
      }

      @font-face {
          font-family: 'GmarketSansMedium';
          src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
          font-weight: normal;
          font-style: normal;
      }

      @font-face {
          font-family: 'CookieRunOTF-Bold';
          src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff') format('woff');
          font-weight: normal;
          font-style: normal;}



      body {
          background:#85d6ff;
          font-family: 'CookieRunOTF-Bold';
          font-size: 62.5%;
          letter-spacing: 1.5px;
          margin: 0;
          text-align: center;
      }      

      
      header{
          display:flex;
          justify-content: center;
          font-size: 30px;
      }
      form{
          padding:10px;
      }
      .input-box{
          position:relative;
          margin:10px 0;
      }
      

      /*----------------------------------  
      input box line
------------------------------------*/
      .input-box > input{
          background:transparent;
          border:none;
          border-bottom: solid 1px #FCC500;
          padding:20px 0px 5px 0px;
          font-size:14pt;
          width:20%;
      }
      
           /*----------------------------------  
      inputbox클릭시 글씨 작아지는 효과
------------------------------------*/
      input::placeholder{
          color:transparent;       
      }

       /*----------------------------------  
      id pw 글씨
------------------------------------*/
      input:placeholder-shown + label{
          font-family: 'CookieRunOTF-Bold';
          color:#111;
          font-size:14pt;
          top:15px;
      }

      
      input:focus + label, label{
          color:#111;
          font-size:10pt;
          pointer-events: none;
          position: absolute;
          left:0px;
          top:0px;
          transition: all 0.2s ease ;
          -webkit-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
      }

      input:focus, input:not(:placeholder-shown){
          border-bottom: solid 1px #FCC500;
          outline:none;
      }

       /*----------------------------------  
      login 버튼
------------------------------------*/
      input[type=submit]{
          background-color: #fcc500;
          font-family: 'CookieRunOTF-Bold';
          border:none;
          color:111;
          border-radius: 5px;
          width:20%;
          height:35px;
          font-size: 14pt;
          margin-top:100px;
      }
    
           









