* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}


@font-face {
    font-family: 'CookieRunOTF-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    box-sizing: border-box;
}

body {
    background: url('../img/stripes-light.png');
    font-family: "GmarketSansMedium", sans-serif;
    font-size: 62.5%;
    letter-spacing: 1.5px;
    margin: 0;
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0.5em;
}

ul > li {
    list-style: none;
}

.card,
.reset-btn {
    cursor: pointer;
}

.btn {
    border-radius: 1em;
    border: none;
    color: #fff;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    padding: 0.8em;
}


/*----------------------------------  
Header
------------------------------------*/

h1{
    font-size: 3em;
    font-weight: 300;
    font-family: 'CookieRunOTF-Black';
}

h2{
    font-size: 2.5em;
    font-weight: 600;
}

p{
    font-size: 1.6em;
}

h3{
    font-weight: 500;
}


/*----------------------------------  
Section - 점수판
------------------------------------*/

.score-panel{
    font-size: 1.6em;
    padding: 1em 0 2em;
}

.star-rating > li {
    display: inline-block;
    padding: 0.5em;
}

.moves-counter{
    padding: 0.5em;
}

.reset-btn{
    background: #000;
}

.timer-container{
    background: #fff;
    border-radius: 0.5em;
    color: #000;
    margin:  0.5em;
    padding: 0.5em;
}

.timer{
    font-size: 1em;
}


/*----------------------------------  
Section - Modal
------------------------------------*/
.modal-content{
    height: 60%;
    max-height: 50vh;
}

.modal-body{
    padding: 4rem 1rem !important;
    display: grid;
    grid-template-rows: 5fr 3fr 2fr;
    gap: 2rem;
    justify-items: center;
    align-items: center;
}

p.stats{
    font-weight: 600;
}

p.stats:last-child{
    margin-bottom: 2em;
}


/*----------------------------------  
Deck of Cards
------------------------------------*/

.deck{
    background: linear-gradient(to bottom, #5cf, #28e); /*ecf*/
    border-radius: 1.5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 35em;
    width: 35em;
    margin-bottom: 6em;
    padding: 0.5em;
    
}

.deck, 
.card{
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    
}

.card{
    background: #fc4;
    border-radius: 0.5em;
    height: 7em;
    width: 7em;
    
}

img{
    user-select: none;      /* 사용자가 선택할 수 없음*/
    /*width: 6em;*/
}

.deck img {
    visibility: hidden;
    /*카드에 맞게 이미지 리사이징*/
    object-fit: contain;
    max-height: 100%;
}

.deck .card.flip{
    background: #fff;
    cursor: deafult;
    transform: rotateY(360deg);
    transition: transform 0.3s linear;
    pointer-events: none;
    line-height: 200px;
    
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    
}

.flip img{
    background: #fff;
    visibility: visible;
    line-height: 200px;
    
}

.deck .card.match{
    background: #39d;
    visibility: visible;
    cursor: deafult;
    animation: pulse 1s;
    
}

.match img{
    background: #39d;
    
}

@keyframes pulse{
    0% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (min-width: 550px) {
    .deck{
        height: 65em;
        padding: 2em;
        width: 60em;
    }

    .card{
        height: 10em;
        width: 10em;
    }

    /*.deck img{
        width: 9em;
    }*/

    .modal-content h2 {
        font-size: 4em;
    }

    .modal-content a{
        font-size: 1.8em;
    }
}

/*---------------------------------- 
Desktops
------------------------------------*/
@media screen and (min-width: 800px) {
    h1 {
        font-size: 6em;
    }
    p {
        font-size: 2.3em;
    }
    .deck{
        height: 70em;
        width: 85em;
    }
    .card{
        height: 15em;
        width: 15em;
    }
    /*.deck-img{
        width: 13em;
    }*/
    .reset-btn{
        font-size: 0.8em;
    }
    .footer{
        font-size: 1.2em;
    }
    .modal-content h2{
        font-size: 5em;
    }
    .modal-content a{
        font-size: 2em;
    }
}