@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    /* height: 100vh; */
}

.line{
    /*display: flex;
    flex-direction: row;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img{
    width: 100%
}

.logo{
    width: 100%;
    display: flex;
}

.logo img{
    width: 13vw;
}

.fs-1, .fs-2{
    font-family: 'GmarketSansBold';
}

.fs-4, .fs-5{
    font-family: 'GmarketSansMedium';
}

.fs-5{
    color: gray;
}

.title{
    color: #28527A;
    /*text-shadow: 2px 2px 2px;*/
}

/*line-1은 양 옆에 별 효과*/
.line-1{
  position: relative;
  
}

.line-1::before, .line-1::after{
    content: "★";
    font-family: FontAwesome;
    position: relative;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 0.6em;
    margin: -0 30px;
    top: -5px;
}
