@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CookieRunOTF-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body{
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background: url("../img/room.png") no-repeat center/cover;
    position: relative;
    z-index: 999;
}

html {
    height: -webkit-fill-available;
}

.layout{
    display: grid;
    grid-template-columns:  1fr 3fr 5fr 7fr;
    column-gap: 5%;

    margin: auto;
    width: 86vw;
}

/*----------------------------------  
day
------------------------------------*/
.day{
    justify-self: center;
    align-items: flex-start;

    width: 15vh;
    height: 12vh;
    border-radius: 1px;

    background: #FFFFFF;
    box-shadow: -4px 5px 8px rgba(0, 0, 0, 0.35);

    font-size: 5vh;
    text-align: center;
    line-height: 12vh;
    font-family: "CookieRunOTF-Black", sans-serif;
}

.user-info {
    position: absolute;
    z-index: 5;
    left: 3vw;
    top: 87.5vh;
}

.custom-progress{ 
    display: flex;
    height: 2.5vh;
    overflow: hidden;
    font-size: .75rem;
    background-color: rgba( 255, 255, 255, 0.5 );;
    border-radius: .25rem;
}

/* 상세정보 모달창*/
#detail-info{
    font-family: 'GmarketSansMedium';
}

.modal-body ul{
    font-family: 'GmarketSansMedium';
    list-style: none;
}

/*----------------------------------  
character
------------------------------------*/
.character{
    justify-self: center;
    align-self: flex-end;
    padding-bottom: 2em;
}

.character img {
    height: 80%;
    max-height: 58vh;
}

/*----------------------------------  
Today's schedule
------------------------------------*/
.plan {
    /*페이지 내에서 선택창의 레이아웃 속성*/

    justify-self: center;
    align-self: center;
    
    max-width: 28vw;
    height: 80%;
    max-height: 46vh;

    background: white;
    border: black thin;
    border-radius: 1em;

    /*선택창 내에서 요소들의 레이아웃 속성*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8fr 7fr 7fr 7fr 11fr;
    justify-items: center;
    align-items: center;
    padding: 1em;
}

.plan div:nth-child(-n+4){
    grid-column: 1/3;
}

.plan .item{
    width: 7vw;
}

.title {
    background: pink;
    border: black thin;
    border-radius: 1em;
    /*height: 50%;*/
    height: 5vh;
    width: 70%;
    max-width: 12vw;
    
    font: 500 1.2rem 'BMJUA';
    text-align: center;
    line-height: 5vh;
}

.time{
    width: 100%;

    display: grid;
    grid-template-columns: 4fr 8fr 1fr;
    justify-items: center;
    align-items: center;

    font: 1rem 'BMJUA';
}

.time:first-child{  /*새벽(오전/오후) 글*/
    width: 50%;
}

#dawn,
#am,
#pm {
    width: 60%;
    padding: 4%;
    text-align: center;
}

#dawn {
    background: yellow;
}

#am {
    background: greenyellow;
}

#pm {
    background: orange;
}


/*----------------------------------  
schedule
------------------------------------*/
.schedule{
    max-width: 35vw;
    justify-self: center;
    align-self: center;    

    font-family: 'BMJUA';
    /*font-size: 1.2rem;*/
}

.nav-tabs > li > a{
    border: medium none;
}

.nav-tabs > li > a:hover{
    border: medium none;
    border-radius: 0;
    color:#fff;
}

.nav-tabs button{
   /*max-width: 40vw;
    display:inline-block;    내부 요소에 너비 맞춤*/
}

.tab-pane{
    height: 75vh;
    max-height: 76em;
    border-radius: 0 1.5em 1.5em 1.5em;
    padding: 1em;
}

#movement-tab,
#movement {
    background: #D5FF85;
}

#volunteer-tab,
#volunteer {
    background: #85D6FF;
}

#vacation-tab,
#vacation {
    background: #FFAD85;
}

#rest-tab,
#rest {
    background: #FF85D6;
}

.item {
    width: 100%;
    max-width: 15vw;
    font-family: 'BMJUA';
}

.row-item{
    width: 100%;
    max-width: 30vw;
}

#move-layout,
#rest-layout {
    width: 100%;
    height: 100%;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


#vol-layout{
    width: 100%;
    height: 100%;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#vac-layout{
    width: 100%;
    height: 80%;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
}

#vol-layout .row-item,
#vac-layout .row-item {
    grid-column: 1/3;
}

@media all and (min-width:480px) and (max-width:767px)  {
	/* 가로 모드일 때 적용할 CSS */
    .schedule, .plan {
        font-size: 1em;
    }

    .nav-tabs button{
        max-width: 45%;
        font-size: 18px;
        display: inline-block;
    }
}


/*----------------------------------  
페이드 아웃 효과
------------------------------------*/
.fade-out-box {
    /*position: relative;
    background: black;*/
    animation: fadeout 3s;
    -moz-animation: fadeout 3s; /* Firefox */
    -webkit-animation: fadeout 3s; /* Safari and Chrome */
    -o-animation: fadeout 3s; /* Opera */
    animation-fill-mode: forwards;
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes fadeout { /* Firefox */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes fadeout { /* Safari and Chrome */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes fadeout { /* Opera */
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
