@font-face {
    font-family: 'CookieRunOTF-Black';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    height: 100vh;
}

#window {
    position: absolute;
    height: 55vh;
    z-index: 1;
    left: 13vw;
    top: 5vh;
}

.schedule{
    position: absolute;
    width: 13vw;
    height: 7vh;
    left: 84vw;
    top: 90vh;
    z-index: 5;

    font-size: 3vw;
    text-align: center;
    line-height: 7vh;
    font-family: "GmarketSansMedium", sans-serif;
}

.user-info {
    position: absolute;
    z-index: 5;
    left: 3vw;
    top: 87.5vh;
}

.custom-progress{   /*개발자 도구를 통해 부트스트랩의 progress 클래스의 css를 복사해와서 원하는 대로 수정함*/
    display: flex;
    height: 2.5vh;
    overflow: hidden;
    font-size: .75rem;
    background-color: rgba( 255, 255, 255, 0.5 );;
    border-radius: .25rem;
}


.day{   /*날짜 표시*/
    position: absolute;
    width: 15vh;
    height: 12vh;
    left: 3vw;
    top: 3vh;
    border-radius: 1px;

    background: #FFFFFF;
    box-shadow: -4px 5px 8px rgba(0, 0, 0, 0.35);

    font-size: 5vh;
    text-align: center;
    line-height: 12vh;
    font-family: "CookieRunOTF-Black", sans-serif;
}

#character{
    position: absolute;
    height: 70vh;
    left: 49vw;
    top: 25vh;
    z-index: 5;
}