@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'IM_Hyemin-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    display: flex;
    flex-direction:column;
    align-content: center;

    height: 100vh;  /*Viewport Height*/
    background: url("../img/night.png") no-repeat center/cover;
}

#text {
    margin-top: 6vh;
    display: grid;
    justify-items: center;
    align-items: center;

    font-family: 'DungGeunMo', 'PFStardust', 'IM_Hyemin-Regular';   
}

.title{
    font-size: 1.5rem;
}

.content{
    font-size: 1.5rem;
    text-align: center;
}
.typing {
    display: table;
}

.info, #dawnInfo, #amInfo, #pmInfo {
    height: 2rem;
    font-size: 1.2rem;
    margin-top: 1.1rem;
    margin-bottom: 2rem;
}

.total {
    font-size: 1.5rem;
}